/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
/*.jumbotron {
	background-image: url("image.jpg");
	height: 600px;
	background-size: 100%;
	background-repeat: no-repeat;
}*/

/*   .divider__2rD {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}*/
body {
  overflow-x: hidden !important;
}
.navbar {
  margin-bottom: 0 !important;
}
#navigation .navbar-brand {
  height: 50px;
}

#navigation .nav >li >a {
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: serif;
  font-size: 14px;
}
#navigation .navbar-toggle {
  padding: 10px;
}
#navbar3 ul li a {
  padding: 25px 18px;
}
#rift {
  background-color: #222;
  font-family: serif;
  color: #9d9d9d;
}
#rift li a {
  color: white;
}
#rift > li > a:hover, .dropdown-menu > li > a:focus {
            background-image:none !important;
 }
#rift > li > a:hover, .dropdown-menu > li > a:focus {
            background-color:black;
 }
.home-cap { 
  color: #BCA577;
  font-size: 2em;
  text-align: center;
  font-family: serif, 'sans-serif'; 
  text-transform: uppercase;
  text-shadow: 60;
  margin: 0;
  padding-top: 0.4em;
  padding-bottom: 0.2em;
}
.home-cap2 { 
  color: #BD8F39;
  font-size: 4em;
  text-align: center;
  font-family: serif, 'sans-serif'; 
  text-transform: uppercase;
  text-shadow: 60;
  margin: 0;
  letter-spacing: 0.1em;
  padding-bottom: 0.1em;
}
#img-label {
  box-shadow: 0 0 10px 10px #857768;
  background-size: 100%;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}
.item a:hover {
  text-decoration: none;
}
/*footer*/
.footer {
  background: #171720;
  height: auto;
  padding-bottom: 10px;
  width: 100%;
}
.footer p {
  margin: 0;
}
.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #BEB598;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 10px 0 10px;
  text-transform: uppercase;
}
.footer a {
  color: #78828D
}
.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}

.footer-bottom {
  background: #171720;
  border-top: 1px solid #383842  ;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
}


.fbicon {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: lightgrey;
}
.twittericon {
margin-top: 10px;
  margin-left: 0;
  margin-right: auto;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: lightgrey;
}
.linkedin {
margin-top: 10px;
  margin-left: 0;
  margin-right: auto;
  height: 40px;
  width: 40px;
  border-radius: 80%;
  background-color: lightgrey;
}
/**** Hover ****/
div a .fbicon:hover {
  background-color: #3b5998;
}
div a .twittericon:hover {
  background-color: #0084b4;
}

div a .linkedin:hover {
  background-color: #007bb6;
}
.p-content {
  font-family: calibri;
  color: #BEB598;
  letter-spacing: 0.1em;
  text-align: justify;
}
.champ1 {
  font-size: 2em;
  text-align: center;
  color: white;
  color: #BD8F39;
  font-family: serif, 'sans-serif';
}
@media screen and (min-width: 300px) {
.home-cap, .home-cap2, .p-content{
        font-size: 1em;
    }
}

@media screen and (max-width: 337px) {
.home-cap, .home-cap2{
        font-size: 1.7em;
    }
}

/* xs < 768 */
@media screen and (max-width: 767px) {
.home-cap, .home-cap2{
        font-size: 1.5em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
.home-cap, .home-cap2{
        font-size: 2em;
    }
}

/* md */
@media screen and (min-width: 992px) {
.home-cap, .home-cap2{
        font-size: 2em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
.home-cap, .home-cap2 {
        font-size: 4em;
    }
}
h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 3.0vh;
}
.img-c {
  max-height: 350px;
}


@media (max-width: 450px) {
  .home-cap {
    font-size: 1.1em !important;
  }
  .img-c {
    height: 135px !important;
  }
  .up-1 {
    margin-top: 0.1em !important;
    margin-bottom: 0.1em !important;
  }
  .up-2 {
    margin-top: 0.5em !important;
    margin-bottom: 0.1em !important;
  }
  .up-3 {
    margin-top: 0.1em !important;
  }
}
